.site-header {
    background-color: #63dad0d5;
    color: #cc2cb1;
    height : 100vh;
    font-family: monospace;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.site-header-content{
    margin: 10px;

}

.profile-pic{
    border-radius: 50%;
    box-shadow: rgb(65, 11, 11) 2px 5px 5px;

}

.course-link{
    color: #cc2cb1;

}


body{
    margin: 0;
}